<%= form_with(model: @blog, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります</h2>
      <ul>
          <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :本日のトレーニング %>
    <%= form.text_field :title,placeholder:"本日のトレーニング" %>
  </div>
  <div class="blog_title">
    <%= form.label :コンディション %>
    <%= form.select :condition,[["非常に良い(80~100%)", "A"],
                                ["まあまあ良い(60~80%)", "B"],
                                ["普通(40~60%)", "C"],
                                ["調子が悪い(20~40%)", "D"],
                                ["限界(0~20%)", "E"]]
     %>
  </div>
  <div class="blog">
    <%= form.text_area  :title, placeholder:"本日のトレーニングはいかかでしたか？",size: "50x10" %>
  </div>
  <%= form.submit %>
<% end %>
