<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MuscleConditioner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to '筋肉一覧に戻る', blogs_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
        <li><%= link_to "Users", '#',class: "nav-link" %></li>
        <li><%= link_to "Profile", current_user,class: "nav-link" %></li>
        <li><%= link_to "Settings", '#',class: "nav-link" %></li>
        <li><%= link_to "Log out", logout_path, method: :delete,class: "nav-link" %></li>
      <% else %>
        <li><%= link_to "Log in", login_path, class: "nav-link"%></li>
        <li><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <%= link_to '新規作成' ,new_blog_path, class: "btn btn-outline-success my-2 my-sm-0" %>
    </form>
  </div>
</nav>
